.list {
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-bottom: 50px;
}

.movie-list {
  width: 100%;
}

#form {
  text-align: center;
  margin: 30px 0;
}

h1 {
  word-wrap: break-word;
}
